                {% extends "layout.html" %}

                {% block content %}

                <h1>Course Offerings</h1>
                <h3>Term: {{ term }} </h3>
                <table>
                    <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Credits</th>
                            <th>Term</th>
                            <th>Enroll</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for data in courseData %}
                        <tr>
                            <td>{{ data["courseID"] }}</td>
                            <td>{{ data["title"] }}</td>
                            <td>{{ data["description"] }}</td>
                            <td>{{ data["credits"] }}</td>
                            <td>{{ data["term"] }}</td>
                            <td>
                                <form action="{{url_for('enrollment')}}" method= "POST">
                                    <input type="hidden" name="courseID" value="{{ data['courseID']}}">
                                    <input type="hidden" name="title" value="{{ data['title']}}">
                                    <input type="hidden" name="term" value="{{ session['term']}}">
                                    
    
                                <button>Enroll</button>
                            </form>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                {% endblock %}
